#img_video,
.below-img,
.related-news-item>a {
    position: relative
}

.below-img,
.related-news-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.layer-no-such-ariticle {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url(http://wapcdn.thecover.cn/wap/2.0.0/img/no-such-ariticle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%
}

body {
    background: #eee;
    padding-bottom: 2.55rem;
    overflow-x: hidden;
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in
}

body.transparent {
    opacity: 0
}

body#page_news_details {
    line-height: unset!important
}

.subject-body {
    background: #fff
}

.article {
    padding: 1.706924rem .805152979rem;
    margin: 0 auto .38647342rem;
    background: #fefefe
}

.article h1 {
    font-size: 1.3204508rem;
    margin: 0;
    color: #191919;
    font-weight: 400;
    line-height: 1.6022544rem
}

.details-date {
    color: #a3a3a3;
    font-size: .6763285rem;
    line-height: .6763285rem!important;
    padding: 1.04669887rem 0 1.83574879rem
}

.details-date span {
    padding-right: .805152979rem
}

.details {
    font-family: -apple-system, "Hiragino Sans GB", Roboto, "Droid Sans", "Microsoft YaHei", "Microsoft YaHei UI", "Microsoft JhengHei UI", STHeiti, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Helvetica Neue", sans-serif;
    color: #474747;
    overflow: hidden;
    font-size: 1rem
}

.news-comment span,
.related-name span {
    font-size: .86956521rem
}

.details p {
    font-size: .933977455rem;
    line-height: 1.336553945rem;
    margin-bottom: 1.2077294rem
}

.details p:empty {
    display: none
}

.details img {
    width: 100%;
    background: url(http://wapcdn.thecover.cn/wap/1.0.0/img/default_banner.jpg);
    background-size: 100%
}

.news-talk,
.related-articles {
    margin: .5rem auto;
    padding: 1.449275362rem .805152979rem;
    background: #fefefe;
    display: none
}

.news-talk {
    margin-bottom: 0
}

.news-comment,
.news-title,
.related-name,
.related-title {
    line-height: .86956521rem;
    padding: 0;
    color: #191919;
    width: 100%;
    z-index: 100;
    text-align: center
}

.news-title,
.notalk,
.related-title {
    margin-bottom: 1.0628019rem
}

#page_news_details a.DownloadApp {
    display: block;
    margin: 1.0628019rem auto;
    width: 75%;
    font-size: .6763285rem
}

.news-comment img,
.related-name img {
    height: auto;
    display: inline-block;
    margin-right: .3rem;
    vertical-align: bottom;
    width: 1rem
}

.news-list ul li {
    padding: 1rem 0;
    border-bottom: 1px solid #e0e0e0
}

.news-list ul li:last-child {
    border: 0
}

.notalk img {
    margin: 0 auto;
    width: 45%;
    height: auto;
    display: block
}

.related {
    margin: 0 auto;
    padding: 1.0628019rem .805152979rem;
    background: #fefefe
}

.related-news-item>a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative
}

.related-news-item>a .thumbnail {
    width: 100%;
    background-position: center;
    background-size: cover
}

.below-img {
    padding: .5rem;
    box-sizing: border-box;
    position: relative;
    width: 100%
}

.related-news-item h3 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .9375rem;
    font-weight: 400;
    text-align: left;
    margin: 0;
    width: 100%;
    line-height: 1.40625rem;
    height: 2.8125rem;
    word-wrap: normal;
    max-height: 2.8125rem;
    white-space: normal;
    overflow: hidden
}

.related-date {
    color: #a3a3a3;
    font-size: .7rem;
    padding-right: 2rem;
    display: initial
}

.related-date span {
    padding-right: 1rem
}

.related-right {
    width: .6rem;
    margin-top: -.5rem
}

.related-ad {
    padding: .8rem 0
}

.related-ad img {
    width: 100%
}

.related-read {
    float: right;
    line-height: 1rem
}

.related-read img {
    width: .8rem;
    vertical-align: middle
}

.related-list-inner::-webkit-scrollbar {
    display: none
}

.related-list>a {
    display: inline-block
}

#img_video.hidden {
    display: none
}

#img_video::after {
    content: 'VR';
    color: #fff;
    font-weight: 700;
    background-color: rgba(0, 0, 0, .5);
    border: 2px solid rgba(255, 255, 255, .9);
    text-align: center;
    vertical-align: middle;
    line-height: 2rem;
    display: block;
    position: absolute;
    z-index: 10;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

#img_video>img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: none
}

.details-media {
    border-top: 1px solid #e0e0e0;
    width: 100%;
    padding-top: .7rem;
    display: none
}

.details-media-headimg {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 2.25rem;
    display: inline-block;
    float: left
}

.details-media-content {
    line-height: 1.125rem;
    margin-left: .625rem;
    float: left;
    height: 2.25rem;
    width: 11.25rem;
    overflow: hidden
}

.dmc-title {
    font-size: .9rem;
    color: #303030
}

.dmc-desc {
    font-size: .625rem;
    color: #a3a3a3;
    word-break: break-all
}

.details-media-btn {
    background: #e55b4a;
    float: right;
    text-align: center;
    line-height: 1.4rem;
    color: #fff;
    border-radius: .7rem;
    font-size: .7rem;
    width: 3.5rem;
    height: 1.4rem;
    display: inline-block;
    margin-top: .425rem
}

.custom-emoji-in-replys {
    display: inline-block;
    width: .9rem;
    height: auto;
    vertical-align: middle
}
